[Desktop Entry]
Name=Cursor
#Exec=/home/ren/.local/bin/Cursor-1.2.2-x86_64.AppImage --ozone-platform=wayland
Exec=/home/ren/.local/bin/Cursor-1.2.2-x86_64.AppImage --ozone-platform-hint=auto --enable-wayland-ime --wayland-text-input-version=3
#Exec=/home/ren/.local/bin/Cursor-1.2.2-x86_64.AppImage
Icon=/home/ren/.local/share/applications/cursor.png
Type=Application
Categories=Development;IDE;
Terminal=false

